.body_style{
  width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    overflow: scroll;
    font-family: arial;
    font-size: 10px;
    color: #6e6e6e;
    background-color: #AFA5A5;
}


.menu_banner{
  
   
    width:100%; height: 
    50px; position: fixed;
    text-align: center;
    float: top;
    height: 85px;
font-family: 'Droid Sans', serif;
z-index: 5000;
background: #fff url("../img/container-bg.png");
-webkit-box-shadow: 0px 2px 4px rgba(3, 3, 3, 0.2);
-moz-box-shadow: 0px 2px 4px rgba(3, 3, 3, 0.2);
box-shadow: 0px 2px 4px rgba(3, 3, 3, 0.2);


 }

 .div_contenedorPrin{
    border: 1px solid black; 
    width:1000px; height: 1px; 
    margin-top: 100px; 
    margin-left: 200px;
    position: absolute;
    background-color: #F5F2F2
    
 }

 .divsContenido_divAboutme{
        border: 1px solid black;
        width:900px; height: 200px;
        position: relative;
        background-color: #F5F2F2;
 }

 .div_aboutme{
        border: 1px solid black; 
        width:300px; height: 200px; 
        margin-left: 0px; 
        background-color: #F5F2F2;
 }

 .p_aboutme{
  margin-left: 30px
 }


 .h2_aboutme{
                    font: 2.9em 'Arvo', serif;
                    line-height: 0.8em;
                    color: #464646;
                    font-weight: normal;
                    margin-bottom: 3px;
                    margin-top: 0;
 }

 .h5_aboutme{
                    font: 1.35em 'Droid Sans', sans-serif;
                    line-height: 1.2em;
                    color: #0099e8;
                    font-weight: normal;
 }


 .div_contenido_aboutme{
  border: 1px solid black; 
  width: 600px;
  height: 200px; 
  margin-left: 300px; 
  margin-top: -203px; 
  background-color: #F5F2F2;
 }


 .p_contenido_aboutme{
  margin-left: 30px
 }


 .div_contenido_principal_experiencia
 {
        border: 1px solid black;
        width:900px; height: 200px;
        position: relative;
        background-color: #F5F2F2;
 }



 .div_tituloExperiencia{
  border: 1px solid black; 
  width:300px; height: 200px; 
  margin-left: 0px; 
  background-color: #F5F2F2;
 }

 .P_titulo_Experiencia{
  margin-left: 30px
 }

 .h2_titulo_Experiencia{
                    font: 2.9em 'Arvo', serif;
                    line-height: 0.8em;
                    color: #464646;
                    font-weight: normal;
                    margin-bottom: 3px;
                    margin-top: 0;
 }

 .h5_titulo_experiencia{
                    font: 1.35em 'Droid Sans', sans-serif;
                    line-height: 1.2em;
                    color: #0099e8;
                    font-weight: normal;
 }

 .div_about_titulo_experiencia{
  border: 1px solid black; 
  width: 600px; height: 200px; 
  margin-left: 300px; 
  margin-top: -203px; 
  background-color: #F5F2F2;
 }




 .div_principal_exp{
        border: 1px solid black;
        width:900px; height: 200px;
        position: relative;
        background-color: #F5F2F2;
 }

 .div_skillsPrincipal{
  border: 1px solid black;
        width:900px; height: 200px;
        position: relative; background-color: #F5F2F2;
 }


 .div_tituloSkills{
  border: 1px solid black; width:300px; height: 200px; margin-left: 0px; background-color: #F5F2F2;"

 }


 .div_contactamecont{
  border: 1px solid black; 
  width: 800px; height: 200px; 
  margin-left: 300px; 
  margin-top: -203px; 
  background-color: #F5F2F2;

}

#footer {
  position: relative;
  height: 50px;
  background-color: #668284;
  clear: both;
  font-family: Verdana, sans-serif;
  font-size: 14px;
  text-align: center;
  color: #ffffff;
}